/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.pokeA{
  background-color: #c8e6c9;
}
.pokeB{
  background-color: #a5d6a7;
}
.pokeC{
  background-color: #b2dfdb;
}
.pokeD{
  background-color: #80cbc4;
}

.container{
  height: 600px;
  width: 100vw;
  display: flex;
  justify-content: center;
  
}
